﻿@model IEnumerable<BLL.DTO.CategoryDto>

@{
    ViewBag.Title = "Categories manager";
}

<h2 class="text-center">All categories:</h2>

<p>
    @Html.ActionLink("Create new", "Add")
</p>

<table class="table">
    <tr>
        <th class="col-md-1">
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th class="col-md-9">
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th class="col-md-2">Actions</th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td class="text-break">
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.ActionLink("Edit", "Update", new { id = item.Id }) |
                @if (!item.IsDeleted)
                {
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                }
                else
                {
                    @Html.ActionLink("Restore", "Restore", new { id = item.Id })
                }
            </td>
        </tr>
    }
</table>
