﻿@model BLL.DTO.CategoryDto

@{
    ViewBag.Title = "Restore category";
}

<h2>Restore selected category</h2>

<h3>Are you sure you want to restore this category? This action will cause it to appear on the categories page.</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Restore" class="btn btn-success" />
        </div>
    }
</div>
