﻿@model PL.ViewModels.EditRoleViewModel

@{
    ViewBag.Title = "Edit roles for " + Model.Email;
}

<h2>Select roles for user @Model.Email</h2>

@using (Html.BeginForm("EditRoles", "Administrator", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.Email)
    for (int i = 0; i < Model.AllRoles.Count; i++)
    {
        @Html.HiddenFor(model => model.AllRoles[i])
    }
    for (int i = 0; i < Model.UserRoles.Count; i++)
    {
        @Html.HiddenFor(model => model.UserRoles[i])
    }

    <div class="form-group">
        @foreach (var role in Model.AllRoles)
        {
            <input type="checkbox" name="EditedRoles" value="@role"
                   @(Model.UserRoles.Contains(role) ? "checked=\"checked\"" : "") /> @role<br />
            }
    </div>
    <input type="submit" value="Submit" class="btn btn-success" />
}