﻿@model BLL.DTO.UserDto

@{
    ViewBag.Title = "Lock confirmation";
}

<h3>Are you sure you want to lock @Html.ActionLink(Model.Email, "Profile", "PublicProfiles", new { id = Model.Id }, new { }) user?</h3>

<div>
    <hr />

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Lock" class="btn btn-danger" />
        </div>
    }
</div>