﻿@model BLL.DTO.UserDto

@{
    ViewBag.Title = "Unlock confirmation";
}

<h3>Unlock @Html.ActionLink(Model.Email, "Profile", "PublicProfiles", new { id = Model.Id }, new { }) user?</h3>

<div>
    <hr />

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Unlock" class="btn btn-success" />
        </div>
    }
</div>