﻿@model IEnumerable<PL.ViewModels.EditRoleViewModel>

@{
    ViewBag.Title = "User manager";
}

<h2 class="text-center">All registered users:</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NickName)
        </th>
        <th>Actions</th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.ActionLink(item.NickName, "Profile", "PublicProfiles", new { id = item.Id }, new { })
        </td>
        <td>
            @Html.ActionLink("Roles", "EditRoles", new { id = item.Id }) | 
            @if (item.LockoutEndDateUtc == null)
            {
                @Html.ActionLink("Lock", "Lock", new { id = item.Id })
            }
            else
            {
                @Html.ActionLink("Unlock", "Unlock", new { id = item.Id })
            }
        </td>
    </tr>
}
</table>
