﻿html {
    position: relative;
    min-height: 100%;
}

.navbar {
    margin-bottom: 0;
    border-radius: 0;
    font-size: large;
}

.sidenav {
    background-color: #f1f1f1;
    height: 100%;
}

@media screen and (max-width: 767px) {
    .sidenav {
        height: auto;
    }

    .row.content {
        height: auto;
    }
}

body {
    margin-bottom: 60px;
}

.main {
    overflow: auto;
    margin-top: 30px;
    padding-bottom: 30px;
}

footer {
    background-color: #555;
    color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: small;
}

.footer-text {
    margin: 0;
}

.text-break {
    word-break: break-all;
    word-wrap: break-word;
    overflow-x: auto;
}