﻿@model BLL.DTO.TechnologyTagDto

@{
    ViewBag.Title = "Delete technology tag";
}

<h2>Delete selected technology tag</h2>

<h3>Are you sure you want to delete this technology tag?</h3>
@Html.HiddenFor(model => model.Id)
<h3 style="color:crimson">@Html.DisplayFor(model => model.Name)</h3>

<div>
    <hr />

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" />
        </div>
    }
</div>
