﻿@model BLL.DTO.ArticleDto

@{
    ViewBag.Title = "New article";
}

<h2>Create article</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
        
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>
    
        <div class="form-group">
            @Html.LabelFor(model => model.Text, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Text, new { @class = "form-control", @rows = "40", @style = "resize: none;" })
                @Html.ValidationMessageFor(model => model.Text, "", new { @class = "text-danger" })
                <p>You can use &lt;b&gt;&lt;/b&gt;, &lt;i&gt;&lt;/i&gt; and &lt;code&gt;&lt;/code&gt; html tags.</p>
            </div>
        </div>
    
        <div class="form-group">
            @Html.LabelFor(model => model.CategoryId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.CategoryId, new SelectList(Model.AllCategories, "Id", "Name"))
            </div>
        </div>
    
        <div class="form-group">
            @Html.LabelFor(model => model.ArticleTags, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @foreach (var tag in Model.AllTags)
                {
                    <input type="checkbox" name="EditedTagIds" value="@tag.Id"
                           @(Model.ArticleTags.Contains(tag) ? "checked=\"checked\"" : "") /> @tag.Name<br>
                }
                @Html.ValidationMessageFor(model => model.EditedTagIds, "", new { @class = "text-danger" })
            </div>
        </div>
    
        <div class="form-group text-center">
            <input type="submit" value="Create article" class="btn btn-default" />
        </div>
    </div>
}
