﻿@model PL.ViewModels.ArticlePageViewModel

@using Microsoft.AspNet.Identity;

@{
    ViewBag.Title = Model.Article.Name;
}

@if (User.IsInRole("Writer"))
{
    <a href="@Url.Action("Update", new { id = Model.Article.Id })" style="margin-right:20px"><img alt="Edit" src="~/Content/Icons/edit.png"></a>
    <a href="@Url.Action("Delete", new { id = Model.Article.Id })"><img alt="Delete" src="~/Content/Icons/delete.png"></a>
}

<h2>@Model.Article.Name</h2>
<h5><span class="glyphicon glyphicon-time"></span> Last change: @Model.Article.LastChangeDate.ToShortDateString()</h5>
<h5>
    @{
        foreach (var tag in Model.Article.ArticleTags)
        {
            <a href="@Url.Action("Tag", new { id = tag.Id })"><span class="label label-primary">@tag.Name</span></a>
        }
    }
</h5>

<div class="text-break">
    @Html.Raw(Model.Article.Text.Replace(Environment.NewLine, "<br/>"))
</div>

<h5><span class="glyphicon glyphicon-time"></span> Posted: @Model.Article.PostDate.ToShortDateString()</h5>
<hr>
<p>Comments: <span class="badge">@Model.Article.Comments.Count()</span></p>
<br>

@if (User.Identity.IsAuthenticated)
{
    <h4>Leave a Comment:</h4>
    using (Html.BeginForm("Add", "Comments", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        @Html.HiddenFor(x => x.Article.Id)

        <div class="form-group">
            @Html.TextAreaFor(model => model.Comment.Text, new { @class = "form-control", @rows = "5", @style = "resize: none;" })
            @Html.ValidationMessageFor(model => model.Comment.Text, "", new { @class = "text-danger" })
        </div>
        <input type="submit" value="Submit" class="btn btn-success" />
    }
}
else
{
    <p>Please, <a href="@Url.Action("SignIn", "Account")">Sign In</a>, to leave a comment.</p>
}

<br>
<br>

<div class="row">
    @foreach (var comment in Model.Article.Comments)
    {
    <div class="col-sm-11">
        <div class="row">
            <h4>
                <div class="col-md-6">
                    @Html.ActionLink(comment.NickName, "Profile", "PublicProfiles", new { id = comment.UserId }, new { })
                    <small>@comment.PostDate.ToShortDateString() @comment.PostDate.ToShortTimeString()</small>
                </div>
                <div class="col-md-6 text-right">
                    <small>
                        @if (User.Identity.GetUserId() == comment.UserId)
                        {
                            @Html.ActionLink("Edit", "Update", "Comments", new { id = comment.Id }, new { })
                            <span> | </span>
                        }
                        @if (User.IsInRole("Administrator") || User.Identity.GetUserId() == comment.UserId)
                        {
                            @Html.ActionLink("Delete", "Delete", "Comments", new { id = comment.Id }, new { })
                        }
                    </small>
                </div>
            </h4>
        </div>
        <p>@comment.Text</p>
        <br>
    </div>
    }
</div>

<br>
<br>
