﻿@model IEnumerable<BLL.DTO.CategoryDto>

@{
    ViewBag.Title = "Categories";
}

@{
    if (Model.Any())
    {
        foreach (var category in Model)
        {
            <div class="col-md-4">
                <h2>@category.Name</h2>
                <div class="text-break">
                    <p>@category.Description</p>
                </div>
                <p><a class="btn btn-default" href="@Url.Action("Category", "Articles", new { id = category.Id })" role="button">View articles &raquo;</a></p>
            </div>
        }
    }
    else
    {
        <p class="text-center">There are no categories now...</p>
    }
}