﻿@model PagedList.IPagedList<BLL.DTO.ArticleDto>

@using PagedList.Mvc;

@{
    ViewBag.Title = "Recent articles";
}

@{
    foreach (var article in Model)
    {
        <a href="@Url.Action("Article", new { id = article.Id })"><h2>@article.Name</h2></a>
        <h5><span class="glyphicon glyphicon-time"></span> Last change: @article.LastChangeDate.ToShortDateString()</h5>
        <h5>
            @{
                foreach (var tag in article.ArticleTags)
                {
                    <a href="@Url.Action("Tag", new { id = tag.Id })"><span class="label label-primary">@tag.Name</span></a>
                }
            }
        </h5>

        string shortArticle = "";
        if (article.Text.Length > 400)
        {
            shortArticle = new string(article.Text.Take(400).ToArray());
            shortArticle += " ...";
        }
        else
        {
            shortArticle = article.Text;
        }

        <div class="text-break">
            @shortArticle
        </div>

        <h5><span class="glyphicon glyphicon-time"></span> Posted: @article.PostDate.ToShortDateString()</h5>
        <hr>
        <p>Comments: <span class="badge">@article.Comments.Count()</span></p>
        <br>
    }
}

<div class="text-center">
    @Html.PagedListPager(Model, page => Url.Action("Recent", new { page }))
</div>