﻿@model IEnumerable<BLL.DTO.ReportDto>

@{
    ViewBag.Title = "Reports by users";
}

<h2>Reports by users</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserEmail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Text)
        </th>
        <th>Actions</th>
    </tr>

    @if (Model != null)
    {
        foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserEmail)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Text, new { @class = "text-break" })
                </td>
                <td>
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    }
    else
    {
        <p>There are no reports yet...</p>
    }

</table>
