﻿@model IEnumerable<BLL.DTO.ArticleTagDto>

@{
    ViewBag.Title = "Article tags manager";
}

<h2 class="text-center">All article tags:</h2>

<p>
    @Html.ActionLink("Create new", "Add")
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>Actions</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.ActionLink("Edit", "Update", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }
</table>
