﻿@model PL.ViewModels.UserFilterViewModel

@using PL.Enums

@{
    ViewBag.Title = "Users";
}
<h2>Registered users:</h2>
<hr>
<div class="col-md-8">
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserPublicProfiles.FirstOrDefault().Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserPublicProfiles.FirstOrDefault().NickName)
            </th>
        </tr>

        @if (Model.UserPublicProfiles.Any())
        {
            foreach (var user in Model.UserPublicProfiles)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => user.Email)
                    </td>
                    <td>
                        @Html.ActionLink(user.NickName, "Profile", new { id = user.Id })
                    </td>
                </tr>
            }
        }
        else
        {
            <p class="text-center">No users with such parameters were found...</p>
        }
    </table>
</div>

<div class="col-md-2">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

    <div class="form-group">
        @Html.LabelFor(model => model.Filters.EnglishLevels, htmlAttributes: new { @class = "control-label" })
        <br>
        @Html.HiddenFor(m => m.Filters.EnglishLevels[0].EnglishLevel)
        @for (int i = 1; i < Model.Filters.EnglishLevels.Count; i++)
        {
            @Html.CheckBoxFor(m => m.Filters.EnglishLevels[i].IsSelected)<span> </span>
            @Html.DisplayFor(m => m.Filters.EnglishLevels[i].EnglishLevel)
            @Html.HiddenFor(m => m.Filters.EnglishLevels[i].EnglishLevel)
            <br>
        }
    </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Filters.AllTags, htmlAttributes: new { @class = "control-label" })
            <br>
            @foreach (var tag in Model.Filters.AllTags)
            {
                <input type="checkbox" name="Filters.SelectedTags" value="@tag"
                       @if (Model.Filters.SelectedTags != null) { @(Model.Filters.SelectedTags.Contains(tag) ? "checked=\"checked\"" : "") } /> @tag<br>
                }
        </div>
        <input type="submit" value="Show" class="btn btn-default" />
    }
</div>
