﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Knowledge base</title>
    @Styles.Render("~/Content/css")
</head>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <img alt="Logo" class="navbar-brand" src="~/Content/Icons/programming.png">
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">

                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Recent articles", "Recent", "Articles")</li>
                    <li>@Html.ActionLink("Categories", "Categories", "Articles")</li>
                    <li>@Html.ActionLink("Random article", "RandomArticle", "Articles")</li>
                </ul>

                @Html.Partial("_LoginPartial")

            </div>
        </div>
    </nav>

    <div class="container main">
        <div class="row content">

            <div class="col-sm-2 sidebar">
                <div class="list-group">
                    @Html.Partial("_MenuPartial")
                </div>
            </div>

            <div class="container">
                <div class="col-md-10 text-left">
                    @RenderBody()
                </div>
            </div>

        </div>
    </div>

    <footer class="container-fluid text-center">
        <p class="footer-text">
            &copy; Knowledge base | @DateTime.Now.Year | All rights reserved | Denis Fokin
            <br>Icons made by <a href="https://www.freepik.com" title="Freepik" style="color:skyblue">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon" style="color:skyblue">www.flaticon.com</a>
        </p>
    </footer>

    @Scripts.Render("~/Scripts/jquery")
    @Scripts.Render("~/Scripts/bootstrap")
</body>
</html>