﻿@if (User.Identity.IsAuthenticated)
{
    using (Html.BeginForm("SignOut", "Account", FormMethod.Post, new { id = "SignOutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li><a href="@Url.Action("Update", "PublicProfiles")"><span class="glyphicon glyphicon-user"></span> @User.Identity.Name</a></li>
            <li><a href="javascript:document.getElementById('SignOutForm').submit()"><span class="glyphicon glyphicon-log-out"></span> Sign Out</a></li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a href="@Url.Action("SignIn", "Account")"><span class="glyphicon glyphicon-log-in"></span> Sign In</a></li>
        <li><a href="@Url.Action("SignUp", "Account")"><span class="glyphicon glyphicon-pencil"></span> Sign Up</a></li>
    </ul>
}
