﻿@if (User.Identity.IsAuthenticated)
{
    @Html.ActionLink("Public profile", "Update", "PublicProfiles", null, new { @class = "list-group-item" })
    @Html.ActionLink("Report a problem", "Add", "Reports", null, new { @class = "list-group-item" })
    if (User.IsInRole("Administrator"))
    {
        @Html.ActionLink("Manage users", "Users", "Administrator", null, new { @class = "list-group-item" })
        @Html.ActionLink("Manage categories", "List", "Categories", null, new { @class = "list-group-item" })
        @Html.ActionLink("Manage article tags", "List", "ArticleTags", null, new { @class = "list-group-item" })
        @Html.ActionLink("Manage technology tags", "List", "TechnologyTags", null, new { @class = "list-group-item" })
        @Html.ActionLink("Reports", "List", "Reports", null, new { @class = "list-group-item" })
    }
    if (User.IsInRole("Writer"))
    {
        @Html.ActionLink("New article", "Add", "Articles", null, new { @class = "list-group-item" })
    }
    if (User.IsInRole("Manager"))
    {
        @Html.ActionLink("User list", "Filter", "PublicProfiles", null, new { @class = "list-group-item" })
    }
}
else
{
    <p class="text-center">You can <a href="@Url.Action("SignIn", "Account")">Sign In</a> to get more possibilites!</p>
}