﻿@{
    ViewBag.Title = "Internal Error";
}

<div class="text-center">
    <img src="~/Content/Icons/error.png" alt="Error image">
    <h1>Oops, something went wrong...</h1>
    <h2>An error occurred while processing your request.</h2>
    <p>Error code: @Response.StatusCode</p>
</div>
