﻿
@{
    ViewBag.Title = "Page not found";
}

<div class="text-center">
    <img src="~/Content/Icons/error.png" alt="Error image">
    <h1>Page not found...</h1>
    <h2>We're sorry, we couldn't find the page you requested.</h2>
    <p>Error code: @Response.StatusCode</p>
</div>