﻿@model BLL.DTO.CommentDto

@{
    ViewBag.Title = "Delete comment";
}

<h4>Are you sure you want to delete this comment?</h4>

<p>Post date: @Html.DisplayFor(model => model.PostDate)</p>

<div class="form-group">
    <div class="col-md-12 text-break">
        @Html.DisplayFor(model => model.Text)
        @Html.ValidationMessageFor(model => model.Text, "", new { @class = "text-danger" })
    </div>
</div>
<br>
<div>
    <hr/>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.ArticleId)

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" />
        </div>
    }
</div>
