﻿@model BLL.DTO.CommentDto

@{
    ViewBag.Title = "Edit comment";
}

<h4>Edit selected comment in "@Html.DisplayFor(model => model.ArticleName)" article</h4>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.ArticleId)
    @Html.HiddenFor(model => model.UserId)
    @Html.HiddenFor(model => model.NickName)
    @Html.HiddenFor(model => model.PostDate)
    @Html.HiddenFor(model => model.ArticleName)

    <small>@Html.DisplayFor(model => model.PostDate)</small>

    <div class="form-group">
        <div class="col-md-12">
            @Html.TextAreaFor(model => model.Text, new { @class = "form-control", @rows = "5", @style = "resize: none;" })
            @Html.ValidationMessageFor(model => model.Text, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group text-center">
        <input type="submit" value="Save" class="btn btn-success" />
    </div>
</div>
}